<section class="reviews">
  <div class="btns-wrapper">

    <!-- <div class="reviews-sort">
      <small>SORT BY</small>

      <label>
        <select class="select--blue">

          <option>Worst first</option>
          <option>Worst first</option>
          <option>Worst first</option>

        </select>
      </label>

    </div> -->

    <div class="reviews-sort">
      <small>SORT BY</small>

      <p>{{activeSortingOption}}
        <span class="fa fa-chevron-down"></span>
      </p>

      <ul>
        <li 
        *ngFor="let sortingOption of remainingSortingOptions; 
        let i = index" 
        (click)="onChangeSortingOption(i); sort(sortingOption)"
        >{{sortingOption}}</li>
      </ul>
    </div>

    <button (click)='onToggleAddReviewForm()'>
      WRITE A REVIEW
      <span class="fa fa-pencil"></span>
    </button>
  </div>

  <div class="reviews-wrapper">
    <div *ngFor="let review of sortedReviews" class="review">
      <div class="review_header">
        <img src="assets/img/flag.svg" alt="flag">
        <span class="reviewer-name">{{review.author}}</span>
        <span class="review-rating" [innerHTML]='starsMap[review.stars]'></span>
      </div>
      <div class="review_content">
        {{review.tekst}}
      </div>
      <small class="review-date-added">{{review.updated_at || review.created_at}}</small>
    </div>
  </div>
</section>
