@import '../../typography';
@import '../../colors';

.hero {
    background: url('/assets/img/heroImg.png') 50% 50%;
    background-size: cover;
    color: #fff;
    padding: 15px 13%;
    margin-top: -95px;
}

.nav_li {
    transition: .4s;
}

.hero_nav.nav.active {    
    .fa-chevron-down {
        color: #fff;
    }
    .nav_li--dropdown {

        &.active {
            background: transparentize(lighten($gray2, 30%), .2);
        }

        &.nav_li--currency {
            background: #fff !important;
            color: #000 !important;

            .fa-chevron-down {
                color: $gray;
            }

        }
    }
}

.nav_li--dropdown{
    border-radius: 1.3rem;
    padding: .7rem 1.2rem;
    overflow: hidden;
    max-height: 20px;
    transition: .4s ease-in-out;    
    position: relative;
    width: 120px;

    &.nav_li--currency {
        position: absolute;
        right: 0;
        top: .8rem;            
        width: 58.5px;
        width: 70px;
        background: $yellow !important;

        b {
            width: 1rem;
            display: inline-block;
        }

        .fa-chevron-down {
            position: absolute;
            right: 20px;
            top: .8rem;
            margin: 0;
        }
        span {
            color: $gray;
        }
    }
    
    &.active {
        margin-bottom: -105px;
        max-height: 125px;
        background: transparentize(#fff, .2);
        color: #000 !important;

        ul {
            color: #000;
            pointer-events: all;
            opacity: 1;
            transform: translateY(0);
            margin-top: .7rem;
        }

        .fa-chevron-down {
            display: inline-block;
            transform: rotate(180deg);
            color: #000 !important;
        }
    }

    .fa-chevron-down {
        pointer-events: none;
        margin-left: .4rem;
        font-size: .9rem;
        transition: .4s;
    }

    ul {
        pointer-events: none;
        opacity: 0;
        height: 100px;
        transition: 0.4s ease-in-out;
        transform: translateY(-20%);
        top: 0;            
        b {
            margin-right: 0.5rem;
        }
 
        li {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

}

.hero_nav.nav {
    position: absolute;
    top: 0;
    width: 100%;

    &.scrollActive {
        z-index: 100;
        background: #fff;
        box-shadow: #000 0 -8px 30px -12px;
        position: fixed;
    }

    &.active {
        .nav_li {
            color: #fff;

            &.active {
                color: #fff;
            }
        }
    }

    padding: 15px 0;
    .nav_ul {
        margin: 0 13%;
        position: relative;
        max-width: 100vw;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }
    .nav_li {
        @include heroNavLiSizedText;
        cursor: pointer;

        &.active {
            color: $darkGray;
        }
    }
    .nav_li--icon {
        img {
            height: 80px;
        }
        width: auto;
    }
    .nav_ul-left-side-wrapper {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        .nav_li {
            margin-right: 3rem;
        }
    }
}

.hero_article {
    margin-top: 15%;
    h1 {
        font-size: 3.5rem;
        letter-spacing: 2px;
        line-height: 1.2;
        margin-bottom: 2.7rem;
    }
    p {
        font-size: 1.4rem;
        margin-bottom: 4rem;
    }
    button {
        text-transform: uppercase;
        font-size: 1.3rem;
        background: #F5D213;
        padding: 1.4rem 3.2rem 1.6rem 3.2rem;
        border-radius: 3.2rem;
        border-width: 0;
        font-weight: bold;

        span {
            display: inline-block;
            margin-left: 1.5rem;
            margin-right: -.5rem;
            vertical-align: bottom;
            font-size: 1.9rem;
        }
    }
}

.hero_reviews {
    cursor: pointer;
    margin: 11% 0 7% 0;
    display: inline-block;

    .reviews_count {
        margin-left: 1rem;
        font-weight: lighter;
    }

    span {
        display: inline-block;
        font-size: 1.3rem;
    }

    .fa {
        margin-right: .5rem;
        color: $yellow;
    }
}
