<section class="add-credits">

  <div class="credits-wrapper">

    <div class="credit">

      <figure>
        <img src="assets/img/Blue1.svg" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>basic</small> <br>
        20 zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="account_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="account_actions">
        <button>buy now</button>
        <button>learn more</button>
      </div>

    </div>


    <div class="credit">

      <figure>
        <img src="assets/img/Blue2.svg" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>STANDARD</small> <br>
        40 zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="credit_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="credit_actions">
        <button>buy now</button>
        <button>learn more</button>
      </div>

    </div>


    <div class="credit">

      <figure>
        <img src="assets/img/Blue3.svg" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>PREMIUM</small> <br>
        60 zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="credit_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="credit_actions">
        <button>buy now</button>
        <button>learn more</button>
      </div>

    </div>


    <div class="credit">

      <figure>
        <img src="assets/img/Blue4.svg" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>EPIC</small> <br>
        80 zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="credit_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="credit_actions">
        <button>buy now</button>
        <button>learn more</button>
      </div>

    </div>


    <div class="credit">

      <figure>
        <img src="assets/img/Blue5.svg" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>LEGENDARY</small> <br>
        100 zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="credit_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="credit_actions">
        <button>buy now</button>
        <button>learn more</button>
      </div>

    </div>
  </div>


      </section>
