<section class="add-credits">

  <div class="credits-wrapper">

    <div *ngFor="let item of [1,2,3,4,5]" class="credit">

      <figure>
        <img [src]="'assets/img/Blue' + item +'.svg'" alt="blue_shards">
      </figure>

      <div class="credit_cost">
        <small>STANDARD</small> <br>
        {{20*item}} zł
      </div>

      <div class="credit_quantity">
        50000 <br>
        <small>blue essence</small>
      </div>

      <div class="credit_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

      <div class="credit_actions">
        <button>buy now</button>
        <button (click)="navigateToAccounts()">learn more</button>
      </div>

    </div>

  </div>


</section>
