<section class="accounts_faq">
  <div class="accounts_faq-wrapper">
    <article>
      <h2>What do you acually sell there? 🏪</h2>
      <p>Level 30 League of Legends Accounts with lots of Blue Essence and clean ranked history - they are literally perfect Smurf accounts. You can pick between different amounts of Blue Essence, which will be enough to buy 25-45 champions.</p>
    </article>

    <article>
      <h2>What do you acually sell there? 🏪</h2>
      <p>Level 30 League of Legends Accounts with lots of Blue Essence and clean ranked history - they are literally perfect Smurf accounts. You can pick between different amounts of Blue Essence, which will be enough to buy 25-45 champions.</p>
    </article>

    <article>
      <h2>What do you acually sell there? 🏪</h2>
      <p>Level 30 League of Legends Accounts with lots of Blue Essence and clean ranked history - they are literally perfect Smurf accounts. You can pick between different amounts of Blue Essence, which will be enough to buy 25-45 champions.</p>
    </article>

    <article>
      <h2>What do you acually sell there? 🏪</h2>
      <p>Level 30 League of Legends Accounts with lots of Blue Essence and clean ranked history - they are literally perfect Smurf accounts. You can pick between different amounts of Blue Essence, which will be enough to buy 25-45 champions.</p>
    </article>
  </div>

</section>
