<header class="hero">
  <article class="hero_article">
      <h1>All you need for <br> League of legends</h1>
      <p>Feel free to check out our accounts.</p>
      <button (click)='navigateAndScrollToAccounts()' type="button">See offer <span class="fa fa-long-arrow-right"></span>
      </button>
  </article>

  <div class="hero_reviews">
      <div (click)="navigateAndScrollToReviews()">
        <span [innerHTML]="stars"></span>
        <span class="reviews_count">{{reviewsNum}} reviews</span>
      </div>
  </div>
</header>
