<div class="add-review-form-overlay"></div>

<form class="add-review-form">
    <h2> Add review
        <span (click)='onToggleAddReviewForm()' class="fa fa-times"></span>
    </h2>

    <div class="rating-display">
        <small>Rating</small>
        *****
    </div>

    <div class="add-review-form_input-wrapper">
        <label for="name">Name</label>
        <input type="text" id="name">
    </div>

    <div class="add-review-form_input-wrapper">
        <label for="review">Review</label>
        <textarea id="review" cols="20" rows="8" placeholder="Type your review here"></textarea>
    </div>

    <button>
        POST REVIEW
    </button>
</form>