<section class="account-options">

  <div class="account-options-wrapper">

    <div *ngFor="let acc of accountsSet; let i = index" class="account account--bestseller">
      <img src="assets/img/Blue1.svg" alt="blue_shards">

      <div class="account_cost">
        <small>BASIC</small> <br>
        <small>30 lvl instant delivery</small> <br>
        {{(acc.priceAfterConversion ? acc.priceAfterConversion : acc.price_usd) + ' ' + currency.name}}
      </div>

      <ul>
        <li [innerHTML]='acc.description'></li>
      </ul>

      <div class="flex-align-bottom-wrapper">
        <div class="account_quantity-times">
          <button (click)='changeOrderQuantity(-1, i)'>-</button>
            {{acc.orderQty}}
          <button (click)='changeOrderQuantity(1, i)'>+</button>
        </div>

      <div class="account_actions">
        <button>buy now</button>
      </div>
      </div>
    </div>

    <!-- <div class="account">
      <img src="assets/img/Blue1.svg" alt="blue_shards">

      <div class="account_cost">
        <small>BASIC</small> <br>
        <small>30 lvl instant delivery</small> <br>
        20 zł
      </div>

      <ul>
        <li>Unranked all seasons</li>
        <li>10 - 19 Champions</li>
        <li>BE up to 15000</li>
        <li>Unverified email</li>
        <li>Lifetime warranty</li>
      </ul>

      <div class="account_quantity-times">
        <button>-</button>
        1
        <button>+</button>
      </div>

    <div class="account_actions">
      <button>buy now</button>
    </div>
    </div> -->


  </div>

</section>
