@import '../../_colors';
@import '../../mixins/blocks';

.homepage-footer {
  padding: 3.5% 0;
  color: $blackish;
}

.footer-content-wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
}

.logo-column {
  width: 17%;

  img {
    margin-bottom: 1.5rem;
    width: 90px;
  }

  figcaption {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .9rem;
  }

  p {
    color: $darkGray2;
    letter-spacing: .05rem;
    font-size: .7rem;
    line-height: 2;
   }
}

.faq-column {
  margin: 1rem 6rem 0 -9rem;

  h3 {
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  ul {
    font-size: .75rem;
    line-height: 2.8;
    font-weight: bold;
    letter-spacing: .05rem;
  }
}

.links-lists-column {
  display: flex;
  margin-top: 1rem;

  ul {
    &:first-of-type {
      margin-right: 6rem;
      margin-left: -6rem;
    }
    &:last-of-type {
      margin-right: 1rem;
    }

    li {
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: .05rem;
      margin-bottom: 2.4rem;
    }
  }
}
