.regions {
    margin: 5% 3rem;

    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem 0 3.5rem 0;
    }
}

.regions-wrapper {
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin: 3% auto 0 auto;
}

@media (max-width: $xm) {
    .regions-wrapper {
        max-width: 90%;
        justify-content: unset;
    }
}

@media (max-width: $s) {
    .regions-wrapper {
        max-width: 97%;
    }
}

.region {
    align-self: flex-start;
    cursor: pointer;
    filter: brightness(0%);
    transition: .15s ease-in-out;
    opacity: .8;
    &.active {
        filter: brightness(100%);
        opacity: 1;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        .region_caption {
            flex: 1;
            margin-bottom: 1.2rem;
        }
    }
    .region_caption {
        font-weight: bold;
        text-align: center;
        margin-bottom: .6rem;
    }
}
