<nav  [ngClass]="[activeClassSet ? 'active' : '', activeClassScrollSet && !activeClassSet ? 'scrollActive' : '']" class="hero_nav nav">
  <ul class="nav_ul">
      <div class="nav_ul-left-side-wrapper">
          <li routerLink="/" (click)="scrollTopOnNavigate('/')" routerLinkActive="active" class="nav_li nav_li--icon">
              <img src="assets/img/navIcon.png" alt="icon" />
          </li>
          <!-- <li routerLink="/accounts" routerLinkActive="active" class="nav_li">Accounts</li> -->
          <li routerLink="/accounts" routerLinkActive="active" (click)="scrollTopOnNavigate('/accounts')" class="nav_li">Accounts</li>
          <!-- <li routerLink="/reviews" routerLinkActive="active" class="nav_li">Reviews</li> -->
          <li routerLink="/reviews" routerLinkActive="active" (click)="scrollTopOnNavigate('/reviews')" class="nav_li">Reviews</li>
          <li class="nav_li nav_li--dropdown" [class]="'nav_li nav_li--dropdown ' + (dropOpen[0] ? 'active' : '')"
          (click)='toggleDrop(0)'>
            More 
            <span class="fa fa-chevron-down"></span>
            <ul>
              <li routerLink="/" (click)="scrollTopOnNavigate('/')">TOS</li>
              <li routerLink="/terms-and-conditions" (click)="scrollTopOnNavigate('/terms-and-conditions')">Privacy policy</li>
              <li routerLink="/" (click)="scrollTopOnNavigate('/')">Strona główna</li>
          </ul>
          </li>
      </div>

      <li [class]="'nav_li nav_li--dropdown nav_li--currency ' + (dropOpen[1] ? 'active' : '')"  (click)='toggleDrop(1)'> {{activeCurrency}} 
        <span class="fa fa-chevron-down"></span>
        <ul>
            <li 
            (click)='onCurrencyChange(curr)' 
            *ngFor="let curr of currencyOptions">
              <b>{{currencySymbolMap[curr]}}</b> <span>{{curr}}</span>
            </li>
        </ul>
      </li>

  </ul>
</nav>
