<footer class="homepage-footer">

  <ul class="footer-content-wrapper">

    <div class="columns-wrapper">
      <div class="logo-column">

        <figure>
          <img src="assets/img/navIcon.png" alt="icon" />
          <figcaption>
            ABC - league
          </figcaption>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
          </p>
        </figure>
  
      </div>
  
      <div #faqColumn class="faq-column">
        <h3>FAQ</h3>
        <dl>
  
          <ul>
  
            <li>
              <dt>1. Can I change account details?</dt>
              <dd>LOREM AAAAAAAAAAAA AAAAAAAAAA AAAAAAAA bbbbbbbbbbbbb bbbbbbbbbbb</dd>
            </li>
            <li>
              <dt>2. I have not recived an account</dt>
              <dd>LOREM AAAAAAAAAAAA AAAAAAAAAA AAAAAAAA bbbbbbbbbbbbb bbbbbbbbbbb</dd>
            </li>
            <li>
              <dt>3. What name will my account have?</dt>
              <dd>LOREM AAAAAAAAAAAA AAAAAAAAAA AAAAAAAA bbbbbbbbbbbbb bbbbbbbbbbb</dd>
            </li>
            <li>
              <dt>4. My account got banned</dt>
              <dd>LOREM AAAAAAAAAAAA AAAAAAAAAA AAAAAAAA bbbbbbbbbbbbb bbbbbbbbbbb</dd>
            </li>
            <li>
              <dt>5. How long does it take to deliver an account?</dt>
              <dd>LOREM AAAAAAAAAAAA AAAAAAAAAA AAAAAAAA bbbbbbbbbbbbb bbbbbbbbbbb</dd>
            </li>
    
          </ul>
  
        </dl>
  
      </div>
    </div>

    <div class="links-lists-column">
      <ul>
        <li>
          Reviews </li>

          <li>
            Homepage </li>

            <li>
              Therms and conditions </li>

            <li>
              Privacy policy </li>

            <li>
              Contact</li>
      </ul>

      <ul>

        <li>
          Buy smart </li>
        <li>
          Discord </li>
        <li>
          Facebook </li>
        <li>
          Dushdue@gmail.com</li>

      </ul>

    </div>

  </ul>

</footer>
