@import 'styles/mixins/elements';
@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins/blocks';

@import 'src/styles/normalize';

body {
    font-family: 'Poppins';
    color: #000;
    padding-top: 95px;

    app-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: calc(100vh - 95px);
      justify-content: space-between;
    }
}

button {
  border-width: 0;

  &[disabled] {
    cursor: not-allowed;
  }
}

.noInfo {
  font-size: 1.3rem;
  text-align: center;
  margin: 3rem 0;
}

b {
  font-weight: bold;
}

.popup-overlay {
  position: fixed;
  background: transparentize($color: #102020, $amount: 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

@import 'src/styles/sections/homepage';

@import 'src/styles/sections/shared';

@import 'src/styles/sections/accounts';

@import 'src/styles/sections/reviews';

@import 'src/styles/sections/order-verification';

@import 'src/styles/sections/tos';