<section class="payment-options">

  <ul class="payment-options-list">

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

    <li>
      <img src="assets/img/mastercard-2.svg" alt="mastercard">
    </li>

  </ul>

</section>
